#!/bin/bash

# Ngrok (Port Tunneling)
export ngrok_domain='https://amusing-stag-intense.ngrok-free.app'
alias ngrok_auth='ngrok config add-authtoken 2PDU1acEKJ6zCBcWNMKtjbjpnab_67dVj1QA6Uc6H9VPHxU2X'
alias http_tunnel='ngrok tunnel --label edge=edghts_2cwiqpRvBXNJdl7SbZBmYryOT8c http://localhost:80'
alias http_expose='ngrok http 80'

# Certbot (SSL)
get_cert() {
    local dns=$1
    local cmd="certbot --nginx --agree-tos --email ${email} -n -d ${dns} -d www.${dns}"

    if [[ "$uid" -ne 0 ]]; then
        echo "Error: Must be run as root."
    fi
    if [[ "$@" -eq 0 ]]; then
        echo "Error: Include a valid domain as argument."
        exit 1
    fi

    exec "$cmd"
}

# NGINX
export nginx_dir=/etc/nginx
export nginx_sites=/etc/nginx/sites-available
export nginx_active=/etc/nginx/sites-enabled
export online=/var/www
alias nginx_chk='sudo nginx -t'
alias nginx_reload='sudo systemctl reload nginx && sudo nginx -t'
alias nginx_allow='sudo chown -R www-data:www-data . && sudo chmod -R 755 .'


