#!/bin/bash

# Ngrok (Port Tunneling)
export ngrokDomain='https://amusing-stag-intense.ngrok-free.app'
alias ngrok-auth='ngrok config add-authtoken 2PDU1acEKJ6zCBcWNMKtjbjpnab_67dVj1QA6Uc6H9VPHxU2X'
alias http-tunnel='ngrok tunnel --label edge=edghts_2cwiqpRvBXNJdl7SbZBmYryOT8c http://localhost:80'
alias http-expose='ngrok http 80'

# Certbot (SSL)
getCertFor() {
    local dns=$1
    local cmd="certbot --nginx --agree-tos --email ${email} -n -d ${dns} -d www.${dns}"
    
    if [[ "$uid" -ne 0 ]]; then
        echo "Error: Must be run as root."
    fi
    if [[ "$@" -eq 0 ]]; then
        echo "Error: Include a valid domain as argument."
        exit 1
    fi

    exec "$cmd"    
}

# NGINX
export nginxSites=/etc/nginx/sites-available
alias nginxReload='sudo systemctl reload nginx'
alias nginxAllow='sudo chown -R www-data:www-data . && sudo chmod -R 755 .'


