#!/bin/bash

# Ngrok (Port Tunneling)
export ngrok_domain='https://amusing-stag-intense.ngrok-free.app'
alias ngrok_auth='ngrok config add-authtoken 2PDU1acEKJ6zCBcWNMKtjbjpnab_67dVj1QA6Uc6H9VPHxU2X'
alias http_tunnel='ngrok tunnel --label edge=edghts_2cwiqpRvBXNJdl7SbZBmYryOT8c http://localhost:80'
alias http_expose='ngrok http 80'

# Certbot (SSL)
get_cert() {
    local dns=$1
    local cmd="certbot --nginx --agree-tos --email ${email} -n -d ${dns} -d www.${dns}"

    if [[ "$uid" -ne 0 ]]; then
        echo "Error: Must be run as root."
    fi
    if [[ "$@" -eq 0 ]]; then
        echo "Error: Include a valid domain as argument."
        exit 1
    fi

    exec "$cmd"
}

# NGINX
export nginx_dir=/etc/nginx
export nginx_sites=/etc/nginx/sites-available
export nginx_active=/etc/nginx/sites-enabled
export online=/var/www
alias nginx_chk='sudo nginx -t'
alias nginx_reload='sudo systemctl reload nginx && sudo nginx -t'
alias nginx_allow='sudo chown -R www-data:www-data . && sudo chmod -R 755 .'

# PDANet+
export pdanet_host_public_ip=174.207.42.86
export pdanet_host_ip=192.168.49.232
export pdanet_gateway=192.168.49.1
export pdanet_proxy_port=8000
export pdanet_proxy="${pdanet_gateway}:${pdanet_proxy_port}"
export netplus_ip=10.1.19.1
export netplus_gateway=10.1.19.1

# WSL
export wsl_ip=172.22.65.107
export wsl_gateway=172.22.64.1
export wsl_mask=255.255.240.0
export wsl_local_ip6="fe80::78f3:2760:d4c1:8ed%34"


set_dns() {
    local file="/etc/resolv.conf"
    local domains=(
        "1.1.1.1"
        "1.0.0.1"
        "8.8.8.8"
        "8.8.4.4"
    )

    if [[ ! -f "$file" ]]; then
        sudo touch $file
    fi

    for dns in "${domains[@]}"; do
        if ! grep -q "nameserver ${dns}" "$file"; then
            echo "nameserver ${dns}" | sudo tee -a "$file" >/dev/null
        fi
    done

    export set_dns_complete=true
}


