#!/bin/bash

# PATH Configuration

showpath() {
    echo $PATH | tr ':' '\n' | nl
}

addpath() {
    echo "export PATH='$1:$2:$3:$4:$PATH'"
}

export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:$PATH"

export PATH="$PATH:$(/mnt/c/Windows/System32/cmd.exe /c 'echo %PATH%' 2>/dev/null | tr ';' ':' | sed 's/\r//g' | sed 's/C:\\/\/mnt\/c\//g' | sed 's/\\/\//g')"
