#!/bin/bash
# prompt.sh (11.9.24)

set_prompt() {
    local user=$(whoami)
    local host=$(hostname)
    local wsl="/etc/wsl.conf"
    local fr="-:-"
    local sym="@"
    local sign="$"

    if [[ "$user" == "root" ]]; then
        host="$(hostname)"
        sign="#"
        c_fr=$bold_yellow
        c_usr=$red
        sym=$sym_skull
        c_host=$red
        c_pwd=$bold_yellow
    else
        if [ "$distro" == "debian" ]; then
            host=devOps
            c_fr=$bold_blue
            c_usr=$bold_green
            c_host=$bold_green
            c_pwd=$yellow
            c_sign=$bold_yellow
        elif [ "$distro" == "kali" ]; then
            host=secOps
          	c_fr=$purpler
            c_usr=$bold_blue
            c_host=$bold_green
            c_sign=$cyan
        elif [ "$distro" == "ubuntu" ]; then
            host=ubuntu
            c_fr=$cyan
            c_usr=$purpler
            c_host=$bold_blue
            c_sign=$greenest
        fi
   fi

   if [ ! -f "$wsl" ] && [ "$host" == "secOps" ]; then
       host=nethunter
   fi


#  PS1="\[$c_fr\]$fr\[$c_usr\]\u\[$c_fr\]$sym\[$c_host\]$host\[$c_fr\]$fr\[$c_fr\][\[$c_pwd\]\w\[$c_fr\]]\[$c_sign\]$sign\[$nc\] "
   PS1="\[$c_fr\]$fr\[$c_usr\]\u\[$c_fr\]$sym\[$c_host\]$host\[$c_fr\]$fr\[$c_sign\]$sign\[$nc\] "

}
